<a href="https://colab.research.google.com/github/hsym-uec/myWeb_github/blob/main/Simmple_Stock.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# SoftBank Stock data from Stooq.com 
# reference https://seanmemo.com/234/

from pandas_datareader import data
start = '2023-04-01'
end = '2023-04-18'
df = data.DataReader('AAPL.US', 'stooq', start, end)

In [3]:
df

               Open      High     Low   Close    Volume
Date
2023-04-18  166.100  167.4100  165.65  166.47  49876484
2023-04-17  165.090  165.3900  164.03  165.23  41516217
2023-04-14  164.590  166.3200  163.82  165.21  49386480
2023-04-13  161.630  165.8000  161.42  165.56  68445649
2023-04-12  161.220  162.0600  159.78  160.10  50133062
2023-04-11  162.350  162.3600  160.51  160.80  47644217
2023-04-10  161.420  162.0300  160.08  162.03  47716882
2023-04-06  162.430  164.9584  162.00  164.66  45390123
2023-04-05  164.740  165.0500  161.80  163.76  51511744
2023-04-04  166.595  166.8400  165.11  165.63  46278295
2023-04-03  164.270  166.2900  164.22  166.17  56976187